@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* overflow: hidden; */
}

#board {
    min-width: 360px;
}

input[type=number] {
    height: 40px;
    width: 40px;
    padding: 12px 12px;
    font-size: 16px;
    font-weight: bold;
}
input:focus {
    outline: none;
    background-color: rgb(243, 245, 234);
    transition: background-color 0.3s ease-in-out;
}

#err {
    color: red;
    height: 20px;
}
input.filled {
    background-color: rgb(207, 245, 232);
}
input.err, input.err:active {
    border: 2px solid;
    border-color: red;
    background-color: rgb(252, 231, 233);
    transition: background-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
}
input.generated {
    background-color: rgb(2, 84, 90);
    color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn {
    background-color: rgb(4, 96, 124);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

@media (max-width: 560px) {
    body {
        margin: 0 12px;
    }
    input[type=number] {
        height: 36px;
        width: 36px;
        padding: 8px 8px;
        font-size: 12px;
        font-weight: bold;
    }
    #board {
        min-width: 330px;
        margin: 10px auto;
    }
    
}